<form class="login">
  <label for="email">Email</label>
  <input type="text" name="loginEmail" id="loginEmail" required></input>
  <label for="password">Password</label>
  <input type="password" name="loginPass" id="loginPass" required></input>
  <button type="submit" id="loginBtn">Log in</button>
</form>