<form class="signup" id="signupForm">
  <label for="username">User Name</label>
  <input type="text" name="username" id="signupName" required></input>
  <label for="email">Email</label>
  <input type="text" name="email" id="signupEmail" required></input>
  <label for="password">Password</label>
  <input type="text" name="password" id="signupPassword" required></input>
  <button type="submit" id="signupBtn">Sign Up</button>
</form>