<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body>

<main>
  <h1>Spotify Lite</h1>
  <div>
    <%- include('partials/LoginForm'); %>
  </div>
  <div>
    <%- include('partials/signupForm'); %>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>
</body>
<script src="/scripts/homePage.js"></script>
</html>