<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body>

<main>
  <h1>Spotify Lite</h1>
  <div>
    <button class="logout top-right">Log Out</button>
  </div>
  <h3>Favorite Songs</h3>
  <div class="songs middle">
    <%- include('partials/songs'); %>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>