<form class="signup">
  <label for="username">User Name</label>
  <input type="text" name="username" id="username"></input>
  <label for="password">Password</label>
  <input type="text" name="password"></input>
  <button type="submit">Sign Up</button>
</form>