<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
</div>

<div class="content" role="main">

  <!-- location table -->
  <div class="tab">
    <button (click)="changeCity('london')">London</button> 
    <button (click)="changeCity('paris')">Paris</button> 
    <button (click)="changeCity('tokyo')">Tokyo</button> 
  </div>
  <div class="text">
    <div *ngIf="city === 'london'; else empty">
      <h2>London</h2>
      <p>London is the capital city of England</p>
    </div>
    <div *ngIf="city === 'paris'; else empty">
      <h2>Paris</h2>
      <p>Paris is the capital of France.</p>
    </div>
    <div *ngIf="city === 'tokyo'; else empty">
      <h2>Tokyo</h2>
      <p>Tokyo is the capital of Japan.</p>
    </div>
    <ng-template #empty>
      <div></div>
    </ng-template>
  </div>
  
  
</div>

<router-outlet></router-outlet>
